body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.green {
  color: green;
}

.red {
  color: red;
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }

  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.8);
  }
}

.header {
  background-color: black;
  margin-bottom: 10pt;
}

.logo {
  margin-left: 15px;
}

.status-guide {
  margin: 15px;
  padding: 10px;
  display: flex;
}

.status-guide-item {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

h1 {
  margin: 15px;
}

p {
  margin: 15px;
}

/* ICONS */

.transform-icon {
  transform: translateY(12px);
}

.operational-icon {
  color: green;
  font: 80px;
}

.warning-icon {
  color: rgb(247, 161, 1);
}

.outage-icon {
  color: rgb(236, 1, 1);
}
