body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.status-icon {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
}

/* ICONS */

.transform-icon {
  transform: translateY(13px);
  margin-right: 5px;
}

.operational-icon {
  color: green;
}

.warning-icon {
  color: rgb(247, 161, 1);
}

.outage-icon {
  color: rgb(236, 1, 1);
}

/* TABLE */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #777;
}

.table tr:nth-child(odd) {
  background-color: #333;
}

.table tr:nth-child(even) {
  background-color: #444;
}
